body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
}

// body,
// button,
// input,
// select,
// textarea {
//     font: 12px/1.5tahoma, arial, \5b8b\4f53;
// }
body {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB",
    "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}

address,
cite,
dfn,
em,
var {
  font-style: normal;
}

code,
kbd,
pre,
samp {
  font-family: couriernew, courier, monospace;
}

small {
  font-size: 12px;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

legend {
  color: #000;
}

fieldset,
img {
  border: 0;
}

button,
input,
select,
textarea {
  font-size: 100%;
}

#DetailModel {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  pointer-events: none;
}

//自定义弹出框
.toast {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 9999;
  .toast-content {
    .loadImg {
      width: 0.6rem;
      -webkit-animation: myRotate 2s infinite linear;
      animation: myRotate 2s infinite linear;
      margin-bottom: 0.2rem;
    }

    text-align: center;
    background: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.26rem;
    padding: 0.6rem 1rem;
    border-radius: 0.1rem;
  }
}

@keyframes myRotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*滚动条样式*/
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  border-radius: 3px;
  position: absolute;
  // top: 0;
  right: 10px;
  bottom: 20px;
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  margin-bottom: 10px;
  background-color: #9a9b9e;
  box-shadow: none;
}
